# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build output
out/
dist/
tmp/
temp/

# VSCode extension build
*.vsix

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# OS-specific
.DS_Store
Thumbs.db

# Coverage / test output
coverage/
.nyc_output/

# No temporary files
*tmp*

# no environements
.env
.venv
env
venv
genv
wenv
lenv
menv

# No test cache
**/.vscode-test/**
